# Debian packaging artifacts
debian/.debhelper/
debian/*.debhelper
debian/isaac-ros-cli/
debian/*.substvars
debian/*.debhelper.log
debian/*-stamp
debian/files

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
